demoClientWebService-web/src/main/resources/wsdl/DemoWebService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown.--><xs:schema version="1.0" targetNamespace="http://mycompany.com/" xmlns:tns="http://mycompany.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MyException" type="tns:MyException"/>
  <xs:element name="splitRevert" type="tns:splitRevert"/>
  <xs:element name="splitRevertResponse" type="tns:splitRevertResponse"/>
  <xs:complexType name="splitRevert">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="splitRevertResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MyException">
    <xs:sequence>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>